*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
ul, li{
    list-style: none;
}
/* 전체 메뉴 영역 */
.gnb{
    padding: 20px;
    padding-bottom: 0;
    background-color: aliceblue;
}
/* 메인 메뉴 */
.main-menu{
    width: 400px;
    display: flex;
    margin-left: auto;
    background-color: antiquewhite;
}
.main-menu>li{
    position: relative;
    width: calc(100% /4);
    text-align: center;
    /* padding: 10px 0; */
    background-color: burlywood;
}
.main-menu>li>a{
    display: block;
    padding: 10px 0;
    background-color: azure;
}
/* 서브 메뉴 */
.sub-menu{
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    background-color: pink;
    display: none;
}
.sub-menu>li>a{
    display: block;
    padding: 10px 0;
    background-color: palegreen;
}
/* 호버시 서브메뉴 나오게 */
.main-menu>li:hover .sub-menu{
    display: block;
}
 /* .main-menu:hover .sub-menu{
    display: block;
 } */
 .main-menu>li:hover > a{
    background-color: blue;
 }
 .sub-menu>li:hover >a{
    background-color: green;
 }